include ../components/cart-button.pug
include ../components/cart-dropdown.pug
include ../components/footer.pug

<!DOCTYPE html>
html(lang="en")
  head
    title #{pageTitle}
    link(href="/images/favicon.png", type="image/png", rel="icon")
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    link(rel="stylesheet", href="/styles/css/styles.css")
    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src='/javascripts/actions.js')
    block styles
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          .main-header__nav--left
            li.main-header__item.no-hover
              a(href="/")
                img.brand-logo(src="/images/logo1.png", alt="logo", width="130", height="55")
          .main-header__nav--center
            li.main-header__item
              a(href="/", class=(path==="/catalog" ? "active" : "")) catalog 
            li.main-header__item
              a(href="/", class=(path==="/about" ? "active" : ""))  about
            li.main-header__item
              a(href="/", class=(path==="/contact" ? "active" : ""))  contact
          .main-header__nav--right
            li.main-header__item.main-header__cart-button.no-hover
              +cart-button(cart.quantity)
      +cart-dropdown(cart)
      block header-content
    main
      block content
    footer
      section.footer
        +footer
    
    