<!DOCTYPE html>
html(lang="en")
  head
    title #{pageTitle}
    link(href="/images/favicon.png", type="image/png", rel="icon")
    block styles
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          //- li.main-header__item
          //-   a(href="/")
          //-     img(src="", alt="")
          li.main-header__item
            a(href="/", class=(path==="/catalog" ? "active" : "")) catalog 
          li.main-header__item
            a(href="/", class=(path==="/about" ? "active" : ""))  about
          li.main-header__item
            a(href="/", class=(path==="/contact" ? "active" : ""))  contact
    main
      block content
    footer
      .footer