include ./heading-text.pug
include ./custom-pastry-card.pug
include ./logo.pug
mixin about-us  
  .about-us
    h2.heading-secondary a bit about us
    .about-us__information
      p.subheading-primary Baked us a modern bakery that makes cakes, cupcakes, macarons and other desserts to order for restaurants, cafes, coffee houses and catering.
      p.subheading-primary We exclusively use natural ingredients. And this company policy has not changed for many years since its foundation, regardless of circumstances.
    .about-us__shipping-information
      p.subheading-primary
        strong When you order our products, you can be sure of the quality and freshness of our desserts.
      .about-us__shipping-flow
        .about-us__shipping-flow-item
          .about-us__flow-logo  
            +logo("shipping","/images/shipped.svg")
        .line--horizontal
        .about-us__shipping-flow-item
          .about-us__flow-logo 
            +logo("payment", "/images/payment-hand.svg")
        .line--horizontal
        .about-us__shipping-flow-item
          .about-us__flow-logo  
            +logo("cake", "/images/cake.svg")
        .about-us__shipping-flow-item 
          p.subheading-primary fast shipping
        .container
        .about-us__shipping-flow-item 
          p.subheading-primary convenient shipping
        .container
        .about-us__shipping-flow-item 
          p.subheading-primary unique cake
    .about-us__delivery-information
      .u-margin-bottom-small
        +heading-text("flowers and greeting cards for loved ones", "Everybody loves sweet gifts. Therefore box with cakes and flowers with be an exquisite surprise that no one can resist.")
      .u-grid-container-4.u-flex-container-horizontal
        +custom-pastry-card("/images/assortment-box.jpg", "", "box of assorted cakes and a bouquet of flowers.", "cake assortment box")
        +custom-pastry-card("/images/decorated-cupcakes.jpg", "", "decorated cupcakes with postcard.", "decorated cupcakes")
        +custom-pastry-card("/images/themed-cookies.jpg","", "themed cookies with a bouquet of flowers.", "themed cookies")
        +custom-pastry-card("/images/heart-shaped-box.jpg", "", "roses and macarons in a heart-shaped box.", "macarons and flowers")

