include ./logo.pug 
mixin action-button(ariaLabel, source, method, action, productId)
  .action-button
    form(action=action)
    button.button--circular(type="submit") 
      +logo(ariaLabel, source)
    input(type="hidden", value=productId, name="productId")