include ./logo.pug
mixin delivery-and-payment
  .delivery-and-payment 
    h2.heading-secondary delivery and payment
    p.subheading-primary the courier delivers your orders in Burnaby in a speciality equipped transport. You can see the delivery zone 
      span 
        a(href="https://www.google.com/maps") here
      span . 
    p.subheading-primary.delivery-and-payment__discount
      strong 15% discount
    p.subheading-primary the order can be paid using cash or card. You can also choose online payment and get a 15% discount.
    .u-flex-horizontal--centered
      +logo("visa", "/images/visa.svg")
      +logo("mastercard", "/images/mastercard.svg")
      +logo("interac", "/images/interac.svg")
      +logo("paypal", "/images/paypal.svg")