mixin header-content
  .header-content
    .header-content__container
      .vertical-line
      .header__item
        a(href="https://www.google.com/maps", target="_blank")
          span.icon(role="img", aria-label="location")
            img.logo(src="/images/location.svg", alt="location logo", height="24", width="24")
      .header__item
        a(href="tel:+1(555)555-5555")
          span.icon(role="img", aria-label="phone")
            img.logo(src="/images/phone.svg", alt="phone logo", height="24", width="24")
      .vertical-line
    .header-content__container
      .container
        h1.heading__primary own production of cakes
        img(src="/images/cake-and-tea-1.jpg", alt="cake and tea", width="600", height="400")
      .container
        img(src="/images/cakes-1.jpg", alt="cakes", width="400", height="600")
        p.subheading__primary you don't need a special occasion to order cakes.
        p.subheading__primary we will bring them at any time.
        a.button--underlined(href="/") go to selection
    .header-content__container
      .vertical-line
      .header-item
        a(href="https://www.twitter.com", target="_blank")
          span.icon(role="img", aria-label="twitter")
            img.logo(src="/images/twitter.svg", alt="twitter logo", height="24", width="24")
      .header-item
        a(href="https://www.facebook.com", target="_blank")
          span.icon(role="img", aria-label="facebook")
            img.logo(src="/images/facebook.svg", alt="facebook logo", height="24", width="24")
      .header-item
        a(href="https://www.instagram.com", target="_blank")
          span.icon(role="img", aria-label="instagram")
            img.logo(src="/images/instagram.svg", alt="instagram logo", height="24", width="24")
      .vertical-line
