include ./button-underlined.pug
include ./button-icon.pug

mixin header-content
  .header-content
    .header-content__container
      .vertical-line
      .header__item
        +button-icon("https://www.google.com/maps", "_blank", "location", "/images/location.svg")
      .header__item
        +button-icon("tel:+1(555)555-5555", "", "phone", "/images/phone.svg")
      .vertical-line
    .header-content__container
      .container
        h1.heading-primary own production of cakes
        img(src="/images/cake-and-tea-1.jpg", alt="cake and tea", width="600", height="400")
      .container
        img(src="/images/cakes-1.jpg", alt="cakes", width="400", height="600")
        p.subheading-primary you don't need a special occasion to order cakes.
        p.subheading-primary we will bring them at any time.
        +button-underlined("/", "go to selection")
    .header-content__container
      .vertical-line
      .header-item
        +button-icon("https://www.twitter.com", "_blank", "twitter", "/images/twitter.svg")
      .header-item
        +button-icon("https://www.facebook.com", "_blank", "facebook", "/images/facebook.svg")
      .header-item
        +button-icon("https://www.instagram.com", "_blank", "instagram", "/images/instagram.svg")
      .vertical-line
