include ./button-rounded

mixin pick-up
  .pick-up
    .pick-up__container
      h2.heading-secondary.pick-up__heading pick up your box of cakes
      img.image--portrait(src="/images/cupcake-box-1.jpg", alt="person holding macarons")
    .pick-up__container
      img.image--landscape(src="/images/holding-pastries-1.jpg", alt="box of cupcakes")
      .pick-up__information
        p.subheading-primary.pick-up__subheading Choose any of our delicacies made with love - we will pack them in a box and deliver them to you.
        p.subheading-primary.pick-up__subheading We can also add flowers and a card to the order
      .pick-up__actions
        +button-rounded("pick up the box")
