include ./button-rounded.pug
mixin send-request
  .send-request
    .send-request__container
      h2.heading-secondary did not find your cake?
      img.send-request__image--potrait(src="/images/macarons-1.jpg", alt="macarons", height="600", width="400")
    .send-request__container
      img.send-request__image--landscape(src="/images/bakery-1.jpg", alt="bakery", height="400", width="600")
      p.subheading-primary.send-request__text Write to us and we will gladly realize and of you ideals (minimum 5 cakes).
      +button-rounded("send request")