//- extend the main layout 
extends ./layouts/main-layout.pug
//- inclde components 
include ./components/products.pug
include ./components/heading-text.pug

block content
  .u-margin-vertical-small
    .u-flex-vertical--centered
      +heading-text("our sweet cupcakes", "check out our various and beautifully created organic cupcakes")
      .u-margin-bottom-small
        +products(products)
  