//- extend the main layout 
extends ./layouts/main-layout.pug
//- inclde components 
include ./components/products.pug
include ./components/pick-up.pug
include ./components/about-us.pug
include ./components/send-request.pug
include ./components/delivery-and-payment.pug
include ./components/header-content.pug
include ./components/button-underlined.pug
include ./components/heading-text.pug

block header-content
  +header-content

block content
  section.products
    .u-flex-vertical--centered
      +heading-text("choose your cake", "we use both original recipes and classic versions of famous cakes and pastries")
      .u-margin-bottom-small
        +products(products)
      +button-underlined("/", "load more cakes")
  section.pick-up
    +pick-up
  section.about-us
    +about-us
  section.send-request
    +send-request
  +delivery-and-payment

  