.header-content {
  &__heading {
    padding: 5rem;
    max-width: 55rem;
  }
  &__item {
    text-align: center;
  }
}

section.products,
section.pick-up {
  margin-top: $margin-normal;
}

.product {
  &__title,
  &__price {
    font-size: $subheading-small-font-size;
  }
  &__price {
    font-weight: bold;
  }
}

section.pick-up {
  background-color: $color-secondary;
}

.pick-up {
  &__subheading {
    max-width: 55rem;
  }
}
