@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url("../../../fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Gilroy;
  src: url("../../../fonts/Gilroy-Light.otf");
}

p,
h1,
h2 {
  color: $color-primary;
}

.heading-primary {
  font-size: $primary-heading-font-size;
}
.heading-secondary {
  font-size: $secondary-heading-font-size;
}
.subheading-primary {
  font-size: $subheading-normal-font-size;
  &--large {
    font-size: $subheading-large-font-size;
  }
  &--small {
    font-size: $subheading-small-font-size;
  }
}

.heading-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
