.u-background-white {
  background-color: $color-white;
}

.u-background-beige {
  background-color: $color-secondary;
}

.u-margin-vertical-small {
  margin-top: $margin-small;
  margin-bottom: $margin-small;
}

.u-flex-vertical {
  &--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
