.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 8rem;
  margin-right: 8rem;
  height: 77rem;
  @include border-left-right;
  &__container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 10rem;
    position: relative;
    top: -8rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__item {
    text-align: center;
    position: relative;
    background-color: $color-secondary;
    padding: 1.3rem;
    &--left {
      left: -1px;
    }
    &--right {
      right: -1px;
    }
  }
  &__container img:nth-child(3) {
    position: relative;
    top: -20rem;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35rem;
  }
  &__actions {
    position: absolute;
    bottom: 0;
  }
  &__text {
    margin-top: $margin-normal;
  }
}

h1.header-content {
  &__heading {
    position: relative;
    top: 13rem;
    padding: 2rem;
    max-width: 50rem;
  }
}
