div.pick-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include component-border;
  &__container:first-child {
    margin-right: 5rem;
  }
  &__information {
    margin-top: 2.5rem;
    padding: 5rem;
  }
  &__actions {
    margin-top: 2.5rem;
    margin-left: 5rem;
  }
}

h2.pick-up {
  &__heading {
    margin-bottom: $margin-small;
    max-width: 30rem;
  }
}
