// COLOURS
$color-white: #ffffff;
$color-primary: #252d38;
$color-secondary: #f4efe6;

// MARGIN
$margin-small: 5rem;
$margin-normal: 10rem;

// FONT
$primary-heading-font-size: 4.5rem;
$secondary-heading-font-size: 3.5rem;
$subheading-large-font-size: 2.5rem;
$subheading-normal-font-size: 2.5rem;
$subheading-small-font-size: 1.5rem;
