// COLOURS
$color-white: #ffffff;
$color-primary: #252d38;
$color-secondary: #f4efe6;

// MARGIN (also used for padding)
$margin-tiniest: 1.5rem;
$margin-tiny: 3rem;
$margin-small: 5rem;
$margin-small-2: 7rem;
$margin-normal: 10rem;
$margin-large: 15rem;

// FONT
$primary-heading-font-size: 4.5rem;
$secondary-heading-font-size: 3.5rem;
$subheading-large-font-size: 2rem;
$subheading-normal-font-size: 1.5rem;
$subheading-small-font-size: 1.25rem;
